@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300&display=swap');
body{
  margin: 0px;
  background: rgb(4,34,66);
  background: linear-gradient(45deg, rgba(4,34,66,1) 0%, rgba(10,69,140,1) 20%, rgba(15,104,213,1) 40%, rgba(10,136,225,1) 60%, rgba(6,166,237,1) 80%, rgba(0,212,255,1) 100%); 
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'League Spartan', sans-serif;
}
#cover{
  width: 300px;
  height: 300px;
  border-radius: 25px;
  object-fit: cover;
  box-shadow: 0px 10px 20px #000000;
  
}
#player{
  width: 350px;
  height: 500px;
  border: 1px solid black ;
  border-radius: 25px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
  box-shadow: 0px 15px 30px #000000;
  position: relative;
}

#cover_container{
  position: absolute;
  top:-50px;
  left: 50%;
  transform: translate(-50%);
  
}
#title{
  margin-top: 250px;
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: bolder;
}

#artist{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  color:#3f3f3f;
  font-weight: normal;
  font-weight: bold;
}

.progress-container{
  /* background-color: white; */
  cursor: pointer;
  border-radius: 20px;
  margin: 30px auto;
  width: 90%;
}
.progressbar{
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  padding: 0px;
  margin-top: 10px;
}
.progress{
  display: flex;
  align-items: stretch;
  background-color: #000000;
  border-radius: 20px;
  cursor: pointer;
  width: 0%;
  height: 10px;
  
}
.duration-wrapper{
  position: relative;
  display: flex;
  justify-content: space-between;
}
.player-controlers{
  margin-top: -10px;
}
.icon{
  cursor: pointer;
  font-size: 30px;
  color: #615f5f;
  margin:0px 10px;
}
.icon:hover{
  color: #000000;
}
.main{
  font-size: 45px;
}
.heart{
  color:red;
  font-size: 30px;
  margin : 0px 10px;
}
.heart:hover{
  cursor: pointer;
}

